/* main app container */

#main-app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100svw;
}

/* page */

.page{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 5px;
  overflow-y: auto;
}

.section-header{
  margin-top: 40px;
}

.pageheader{
  margin: 0px;
  padding: 0px;
}

/* navigation bar / Header */

.header {

  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar {
  background-color: #8a8a8a;
  align-items: center;
  width: 100%;
}

.nav-button {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: .3s;
  padding: 0px 10px;
}

.nav-button:hover {
  background-color: black;
  color: white;
  transition: 0s;
}


/* Home page */
#franklin{
  height: 500px;
  background-image: url('./assets/images/carmi2.jpg');
}

#highgate{
  height: 500px;
  background-image: url('./assets/images/highgatevt.jpg');
  background-size: cover;
}

.towncard:hover{
  cursor: pointer;
  color: rgb(211, 211, 211);
  transition: .5s;
}

.towncard{
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  transition: .5s;
  margin-top: 20px;
}

.p-datatable-header .pi-filter {
    color: var(--text-color) !important; /* Use a PrimeReact variable for consistency */
}

/* about page */

.whoweare{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-members{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.team-members img{
  border-radius: 10px;
  height: auto;
  width: 90vw;
  max-width: 400px;
}

.aboutlinks{
  height: 50px;
  width: 100%;
}

.aboutlink{
  background-color: #8a8a8a;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.aboutlink:hover{
  background-color: black;
  color: white;
  transition: 0s;
}

.aboutlink:active{
  background-color: black;
  color: white;
}


/* town info page */

.header{
  display: flex;
  justify-content: space-between;
}
.year-card{
  padding: 25px 0px 0px 0px;
}

.year-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.month-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.meetingcard-container{
  border: 1px solid black;
  border-radius: 10px;
  
}

.meetingcard-header{
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.meetingcard-desc{
  padding: 10px;
}

.meetingcard-viewbtn{
  background-color: #8a8a8a;
}

.meetingcard-source{
  background-color: #737373;
}

.btn{
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover{
  background-color: black;
  color: white;
  transition: 0s;
}

.month-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.month-body{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.meetingcard-date{
  padding: 0px 10px 10px 10px;
}

/* meeting */

.topbtns{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.meeting-grid{
  flex: 5;
  border-radius: 15px;
  margin-bottom: 25px;
}

.meeting-details-section{
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
}

.meeting-info-section{
  margin-right: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-subheader{
  font-weight:  bold;
  font-size: 20px;
  margin-left: 2px;
}

.meeting-group{
  background-color: rgba(0, 59, 122, 0.532);
  padding: 8px;
  border-radius: 10px;
}
