/* main app container */

#main-app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100svw;
}

/* page */

.page{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 20px;
  overflow-y: auto;
}

.section-header{
  margin-top: 40px;
}

.pageheader{
  margin: 0px;
  padding: 0px;
}

/* navigation bar / Header */

.header {

  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar {
  background-color: #8a8a8a;
  align-items: center;
  width: 100%;
}

.nav-button {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: .3s;
  padding: 0px 10px;
}

.nav-button:hover {
  background-color: black;
  color: white;
  transition: 0s;
}


/* Home page */
#franklin{
  height: 500px;
  background-image: url('./assets/images/carmi2.jpg');

}

.towncard:hover{
  cursor: pointer;
  color: rgb(211, 211, 211);
  transition: .5s;
}

.towncard{
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  transition: .5s;
}

.p-datatable-header .pi-filter {
    color: var(--text-color) !important; /* Use a PrimeReact variable for consistency */
}

/* about page */

.whoweare{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-members{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.team-members img{
  border-radius: 10px;
  height: auto;
  width: 90vw;
  max-width: 400px;
}

.aboutlinks{
  height: 50px;
  width: 100%;
}

.aboutlink{
  background-color: #8a8a8a;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.aboutlink:hover{
  background-color: black;
  color: white;
  transition: 0s;
}

.aboutlink:active{
  background-color: black;
  color: white;
}